@import './Theme.scss';
@import "./node_modules/bootstrap/scss/bootstrap";

.min-h-100 {
    min-height: 100%;
}

.left-panel-links {
    .nav-item {

    }

    .nav-link {

    }
}

.cursor-pointer {
    cursor: pointer;
}

.breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    a {
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        color: unset !important;
        text-decoration: unset !important;
    }
    a:active {
        color: unset !important;
        text-decoration: unset !important;
    }
}


.overflow-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.remove_toggle_after {
    &::after {
        content: unset !important;
    }
}

.border-right-nc {
    border-right: 2px solid;
}

// Scrollbar style
.overflow-auto {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) transparent;
    scrollbar-gutter: stable; 
}

.overflow-auto::-webkit-scrollbar {
    width: 12px;
}

.overflow-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 6px;
    background-color: black;
}

